body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:520px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:520px;
  height:190px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:520px;
  height:190px;
}
#u1 {
  position:absolute;
  left:2px;
  top:87px;
  width:516px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:10px;
  top:40px;
  width:502px;
  height:143px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:30px;
  text-align:center;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:30px;
}
#u4 {
  position:absolute;
  left:2px;
  top:7px;
  width:105px;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:109px;
  top:0px;
  width:150px;
  height:30px;
  text-align:center;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u6 {
  position:absolute;
  left:2px;
  top:7px;
  width:146px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:259px;
  top:0px;
  width:238px;
  height:30px;
  text-align:center;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:30px;
}
#u8 {
  position:absolute;
  left:2px;
  top:7px;
  width:234px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:0px;
  top:30px;
  width:109px;
  height:36px;
  text-align:center;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:36px;
}
#u10 {
  position:absolute;
  left:2px;
  top:10px;
  width:105px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:109px;
  top:30px;
  width:150px;
  height:36px;
  text-align:center;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:36px;
}
#u12 {
  position:absolute;
  left:2px;
  top:10px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:259px;
  top:30px;
  width:238px;
  height:36px;
  text-align:center;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:36px;
}
#u14 {
  position:absolute;
  left:2px;
  top:10px;
  width:234px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:0px;
  top:66px;
  width:109px;
  height:36px;
  text-align:center;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:36px;
}
#u16 {
  position:absolute;
  left:2px;
  top:10px;
  width:105px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:109px;
  top:66px;
  width:150px;
  height:36px;
  text-align:center;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:36px;
}
#u18 {
  position:absolute;
  left:2px;
  top:10px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:259px;
  top:66px;
  width:238px;
  height:36px;
  text-align:center;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:36px;
}
#u20 {
  position:absolute;
  left:2px;
  top:10px;
  width:234px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:0px;
  top:102px;
  width:109px;
  height:36px;
  text-align:center;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:36px;
}
#u22 {
  position:absolute;
  left:2px;
  top:10px;
  width:105px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:109px;
  top:102px;
  width:150px;
  height:36px;
  text-align:center;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:36px;
}
#u24 {
  position:absolute;
  left:2px;
  top:10px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:259px;
  top:102px;
  width:238px;
  height:36px;
  text-align:center;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:36px;
}
#u26 {
  position:absolute;
  left:2px;
  top:10px;
  width:234px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:10px;
  top:14px;
  width:150px;
  height:16px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:16px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:427px;
  top:14px;
  width:80px;
  height:16px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:16px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:178px;
  top:80px;
  width:27px;
  height:16px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u33 {
  position:absolute;
  left:330px;
  top:80px;
  width:120px;
  height:16px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:16px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  white-space:nowrap;
}
#u35 {
  position:absolute;
  left:165px;
  top:114px;
  width:53px;
  height:16px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u37 {
  position:absolute;
  left:351px;
  top:114px;
  width:78px;
  height:16px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:16px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  white-space:nowrap;
}
#u39 {
  position:absolute;
  left:351px;
  top:154px;
  width:78px;
  height:16px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:16px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  white-space:nowrap;
}
#u41 {
  position:absolute;
  left:165px;
  top:154px;
  width:53px;
  height:16px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
